<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.search.mapper.SearchItemMapper" >
	<select id="getSearchs" resultType="org.java.common.pojo.SearchItem">
		SELECT 
		  a.`id` id,
		  a.`title` title,
		  a.`sellPoint` sellPoint,
		  a.`price` price,
		  a.`image` image,
		  b.`name` categoryName 
		FROM
		  tbitem a 
		  LEFT JOIN tbitemcat b 
		    ON a.`cid` = b.`id` 
		WHERE a.`status` = 1
	</select>
	<select id="getSearchById" resultType="org.java.common.pojo.SearchItem" parameterType="java.lang.Long">
		SELECT 
		  a.`id` id,
		  a.`title` title,
		  a.`sellPoint` sellPoint,
		  a.`price` price,
		  a.`image` image,
		  b.`name` categoryName 
		FROM
		  tbitem a 
		  LEFT JOIN tbitemcat b 
		    ON a.`cid` = b.`id` 
		WHERE a.`status` = 1
			AND a.id = #{id}
	</select>
</mapper>